body
  color: #111
  background: #fff

body
  background: -webkit-linear-gradient(left, $bg_dark 0%, $bg_light 100%)
  background: -moz-linear-gradient(left, $bg_dark 0%, $bg_light 100%)
  background: -o-linear-gradient(left, $bg_dark 0%, $bg_light 100%)
  background: -ms-linear-gradient(left, $bg_dark 0%, $bg_light 100%)
  background: linear-gradient(to right, $bg_dark 0%, $bg_light 100%)
  color: $beta
  font-family: $font
  font-size: $text_fontsize
  margin: 5vh 3vw 0 // set in units of vw for mobile support

  // this active when main panel drops below side panel for narrow displays
  @media #{$below}
    margin: 5vh 10vw 0

a
  // hyperlinks
  color: $alpha
  text-decoration: none
  font-size: 1em
  -webkit-transition: all 1s
  -moz-transition: all 1s
  -o-transition: all 1s
  -ms-transition: all 1s
  transition: all 1s

  &:hover
    color: $gamma
    border-color: $gamma

h1
  font-size: $site_title_fontsize
  margin-bottom: 15px
  line-height: 1.2
  font-family: $titleFont2

strong
  font-weight: bold
  font-size: $title_fontsize
  font-family: $titleFont2

strongThin
  font-size: $thin_title_fontsize
    
a
  border: none

ul
  list-style: none
  margin: 0
  padding: 0
  line-height: 1 

