// The .content section class holds the main page content (to the right of the "header")
// side-panel, and underneath the banner and bannerStrip. Hence, top must always be 
// $bannerHeight

.content
  position: relative
  top: $bannerHeight
  @media #{$below}
    font-size: 14px
    min-width: 200px
    max-width: 1000px
    margin-top: 50px
    border-top: 1px solid $bg_border
    padding: 40px 0 100px

  @media #{$above}
    margin-left: 250px
    font-size: $text_fontsize
    min-width: 200px
    max-width: 1000px

.content p
  margin-bottom: 10px
  line-height: 1.5
  top: $bannerHeight

.content p strong
  font-weight: 600
  font-size: 22px
  top: $bannerHeight
