$bannerHeight: 150px

$font: "Georgia", serif
$titleFont: "Georgia"
$titleFont2: "IBM Plex Sans Condensed", serif
$headerFont: "Georgia"

$above: "only screen and (min-width: 600px)"
$below: "only screen and (max-width: 600px)"
$small: "only screen and (max-width: 400px)"

// colorscheme... 
// background will be a gradient oriented left to right, from bg_dark to bg_light
// bg_highlight is used to highlight every other row in tables
// bg_border is used for the top border of sections, but is mostly invisible
// alpha is hyperlink color
// beta is test color
// gamma is hovered hyperlink color

$bg_dark: #3a3a3a
$bg_light: #404040
$bg_highlight: #474747
$bg_border: #777777
$alpha: #e29141
$beta: #ede6d5
$gamma: #fcd174
