$bannerHeight: 150px

$font: "Georgia", serif
$titleFont: "Georgia"
$titleFont2: "IBM Plex Sans Condensed", serif
$headerFont: "Georgia"

//$alpha: #e29941
$alpha: #e29141
$beta: #ede6d5
$gama: #fcd174

$above: "only screen and (min-width: 600px)"
$below: "only screen and (max-width: 600px)"
$small: "only screen and (max-width: 400px)"
